<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="EmployeeBean" class="org.example.entity.Employee">-->
<!--        <property name="empId" value="1"/>-->
<!--        <property name="empName" value="Karthik"/>-->
<!--        <property name="phone" value="8008041620"/>-->
<!--    </bean>-->
</beans>